<ul id="slide-out" class="side-nav fixed">
    <li>
        <div class="userView">
            <div class="background">
                <!--<img src="images/office.jpg">-->
            </div>
            <a href="#!name"><span class="name">张三</span></a>
            <a href="#!email"><span class="email">jdandturk@sina.com</span></a>
        </div>
    </li>
    <li><a href="#!"><i class="material-icons">cloud</i>应用管理</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i>日志管理</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">子标题</a></li>
    <li><a class="waves-effect" href="#!">带波纹效果的第三链接</a></li>
</ul>
